<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">
  <display-name>OnlineSupermarket</display-name>
  <welcome-file-list>
    <welcome-file>/faces/main.xhtml</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/faces/login.xhtml</form-login-page>
      <form-error-page>/faces/loginError.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>HtmlAuth</web-resource-name>
      <url-pattern>/faces/welcome.xhtml</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>customer</role-name>
      <role-name>manager</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>HtmlAuth</web-resource-name>
      <url-pattern>/faces/userManagement.xhtml</url-pattern>
      <url-pattern>/faces/addCustomer.xhtml</url-pattern>
      <url-pattern>/faces/addManager.xhtml</url-pattern>
      <url-pattern>/faces/addAdmin.xhtml</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>HtmlAuth</web-resource-name>
      <url-pattern>/faces/productManagement.xhtml</url-pattern>
      <url-pattern>/faces/tableProducts.xhtml</url-pattern>
      <url-pattern>/faces/tableProductTypes.xhtml</url-pattern>
      <url-pattern>/faces/addProduct.xhtml</url-pattern>
      <url-pattern>/faces/addProductType.xhtml</url-pattern>
      <url-pattern>/faces/editProduct.xhtml</url-pattern>
      <url-pattern>/faces/editProductType.xhtml</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>manager</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>customer</role-name>
  </security-role>
  <security-role>
    <role-name>manager</role-name>
  </security-role>
  <security-role>
    <role-name>admin</role-name>
  </security-role>

  <error-page>
    <location>/faces/error.xhtml</location>
  </error-page>
</web-app>